
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.text-primary{
    color:#FD6E0A;

}
.dark-2{
    color: #474747;

}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color:white;
    padding:18px 20px;
    border-radius: 5px;
    font-size:20px;
    border:none;
}

/* nav styles */
nav{
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin:50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size:45px ;

}
nav ul li{
    list-style:none;
    margin-right:51px;
}
nav li a{
    text-decoration:none;
    font-size: 20px;
}
nav ul{
    display:flex;
    align-items:center;
}
/* header styles */
.header{
    background-image: url('../Images/developer-partner.png');
    background-repeat: no-repeat;
    background-position:-150px 0 ;
    background-size: 00px;

}

/* banner styles */
.banner{
    display:flex;
    justify-content:space-between;
    margin:0 35px 0 200px;
}
.banner-content{
    width:580px;
}
.banner-greetings{
    font-size:45px;
    font-weight:600 ;
}
.banner-title{
    font-size:85px;
    font-weight:bold;
}
.banner-description{
    font-size:20px;

}
.banner-pic{
    width:400px;
}
